body
{
    max-width: 1360px;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
}
nav
{
    /* border-style: ridge;
    border-bottom: rgb(105, 80, 105) solid; */
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: auto;
}

.sticky
{
    position: fixed;
    top: 0;
    left: 0;
    max-width: 1366px;
    width: 100%;
    margin: auto;
    z-index: 99;
}


img.imglogo
{
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    cursor: pointer;
}
a.headerlink
{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    vertical-align: top;
    margin-top: 7px;
    margin-left: 35px;
    padding: 25px 20px;
}
a.headerlink:hover
{
    background-color: gray;
    font-size: 21px;
    text-shadow: 5px 5px 3px black;
}

form#searchform
{
    display: inline-block;
    vertical-align: top;
    margin-top: 28px;
    margin-left: 35px;
}
input#searchbox
{
    height: 25px;
    border-radius: 10px;
    border-style: ridge;
}
button#searchbtn
{
    width: 40px;
    height: 30px;
    font-size: 12pt;
    border-radius: 10px;
    border-style: ridge;
}
button#searchbtn:hover
{
    background-color: gray;
    font-size: 13px;
    text-shadow: 3px 3px 3px black;
    cursor: pointer;
}
div.imgshowcase
{
    position: relative;
    width: 100%;
    margin: auto;
    z-index: -10;
}
div.showcasetxt
{
    position: absolute;
    bottom: 0;
    background: black;
    background: rgba(0, 0, 0, 0.5);
    color: silver;
    padding: 10px 25px;
    width: auto;
    margin-bottom: 5px;
}

img.storeimg
{
    display: inline-block;
    border-radius: 30px;
    margin: 0px 10px;
}

fieldset.storehistory
{
    margin: 0px 60px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    border: solid black 3px;
}
div.history
{
    display: inline-block;
    width: 45%;
    vertical-align: top;
    padding: 50px;
    margin: auto;
}

div.grid
{
    margin-top: 30px;
    margin-left: 75px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 100px;
}

div.grid > article
{
    width: 280px;
    border-radius: 20px;
    border: none;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

div.grid > article:hover
{
    transform: scale(1.05);
    box-shadow: 2px 2px 26px rgba(0, 0, 0, 0.8);
}

div.grid > article img.containerimg
{
    width: 100%;
    height: 180px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

div.containertxt
{
    padding: 0px 20px 20px; /* top , left & Right , bottom */
    text-align: center;
}

div.containertxt > button.containerbtn
{
    font-family: 'Josefin Slab', serif;
    text-decoration: underline;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 20px;
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 12pt;
    font-weight: bold;
    cursor: pointer;
}

p.quote::before
{
    content: open-quote;
}
p.quote::after
{
    content: close-quote;
}

h3.gridheader::after
{
    content: " ";
    display: block;
    background-color: black;
    width: 100px;
    height: 2px;
    margin: auto;
    margin-top: 10px;
}

footer
{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0px 50px;
    color: #fff;
}

div.containerft
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.aboutus
{
    flex-basis: 350px;
}

div.contactus > li
{
    list-style: none;
}

div.contactus > li > a.footerlink
{
    text-decoration: none;
    color: #fff;
    text-decoration: underline;
    font-size: 8pt;
}

div.subscribe > input
{
    margin-bottom: 4px;
    border-radius: 20px;
}

button.btnsub
{
    border-radius: 20px;
    padding: 3px;
}

div.socialmedia > i
{
    font-size: 35pt;
}

div.socialmedia > i:hover
{
    opacity: 0.5;
    cursor: pointer;
}

h3.ftunderline::after
{
    content: " ";
    display: block;
    background-color: black;
    width: 80px;
    height: 2px;
    margin-top: 10px;
}

@media (max-width:768px) 
{
    div.showcasetxt
    {
        width: auto;
    }
    fieldset.storehistory
    {
        margin: 0px 20px;
    }s
    div.history
    {
        width: 65%;
        padding: 10px;
    }
    div.grid
    {
        margin-left: 35px;
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width:375px) 
{
    div.showcasetxt
    {
        width: auto;
    }
    fieldset.storehistory
    {
        margin: 0px 20px;
    }
    img.storeimg
    {
        margin-left: 25px;
    }
    div.grid
    {
        margin-left: 40px;
        grid-template-columns: repeat(1,1fr);
    }
}